/* You can add global styles to this file, and also import other style files */

@import './styles/typography/typography.scss';
@import './styles/colors/colors.scss';
@import './styles/base/base.scss';


/*
  MAIN COLOR: #0b7285;
  GRAY COLOR: #343a40;

  #f46f55

  #37c0cf

  //



  #5a31f4

  #ffb01f

   #2d2d2d

   #f4f4f9; #f3f4f6

   #ff4c60

   #1e1e2f ;

   #3f51b5
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  --line-color: #bdc3c7;
  --primary-color: #0b7285;
  --primary-color-light-1: #1971c2;

  --gray-color: #343a40;
  --gray-color-light-0: #f8f9fa

  --secondary-color:  #a5552aca ;
  --background-color:  #f3f4f6 ;

  body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    color: var(--gray-color);
    background-color: var(--background-color);
  }

}

html {
  scroll-behavior: smooth;
}

html, body {
  overflow: visible;
}

h1 {
  font-size: 2.75rem;
  letter-spacing: -1px;
}

h2 {
  font-size: 2.25rem;
  letter-spacing: -.5px;
  /* 24, 30, 36 */

}

h3 {
  margin-bottom: 1.5rem;
  font-size: 1.9rem;
  letter-spacing: -.5px;
  text-transform: uppercase;
}
h4 {
  font-size: 1.25rem;
}

h1, h2, h3, h4 {

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
