/* You can add global styles to this file, and also import other style files */

@import './styles/typography/typography.scss';
@import './styles/colors/colors.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --line-color: #bdc3c7;
  body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
  }

}

html {
  scroll-behavior: smooth;
}

html, body {
  overflow: visible;
}

h1 {
  font-size: 2.75rem;
  letter-spacing: -1px;

}

h2 {
  font-size: 2.25rem;
  letter-spacing: -.5px;
  /* 24, 30, 36 */

}

h3 {
  margin-bottom: 1.5rem;
  font-size: 1.9rem;
  letter-spacing: -.5px;
  text-transform: uppercase;
}
h4 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}
