@import '../../../styles/queries/queries.scss';

.skills {
  width: 100%;
  h2 {
    position: relative;
    display: flex;
    gap: 1rem;
    @include respond(bp-tablet) {
      margin-bottom: 4rem;
   }
    &::before {
      content: "";
      height: 1px;
      width: 10rem;
      background-color:#013138;
      display: block;
      align-self: center;
    }
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;

    @include respond(bp-tablet) {
      grid-template-columns: repeat(2, 1fr);
   }
  }
}
