<section class="skills">

  <h2 >Stacks</h2>

 <div class="skills__content">

    <div>
      <h3 class="skills__content--title">Design</h3>
      <p class="skills__content--text" >Specializing in database and application design <br> I enjoy creating user-friendly experiences with tools like Merise and UML.</p>
    </div>

    <div>
      <h3 class="skills__content--title">Frontend Development</h3>
      <p  class="skills__content--text"> I build intuitive interfaces using frameworks like Angular, React, and Ionic, along with <br> core web technologies such as HTML, CSS, and JavaScript.</p>
    </div>
      <div>
        <h3 class="skills__content--title">Backend Development</h3>
        <p class="skills__content--text">I develop scalable, efficient solutions using Node.js</p>
      </div>
    <div>
      <h3 class="skills__content--title">DevOps</h3>
      <p class="skills__content--text">  I'm committed to streamlining development and deployment through tools like Git, Docker, Kubernetes, and CI/CD workflows.</p>
    </div>

 </div>
</section>
