<section class="skills-section">

  <h1 class="skills-section__header">SKILLS</h1>

 <div class="skills-section__content">

 <div>
  <h3>Design</h3>
  <h4>Specializing in database and application design</h4>
   <p>I enjoy creating user-friendly experiences with tools like Merise and UML.</p>
 </div>

 <div>
  <h3>Frontend Development</h3>
  <h4> I build intuitive interfaces using frameworks like Angular, React, and Ionic, along with <br> core web technologies such as HTML, CSS, and JavaScript.</h4>
 </div>
  <div>
    <h3>Backend Development</h3>
     <h4>I develop scalable, efficient solutions using Node.js</h4>
  </div>
<div>
  <h3>DevOps: </h3>
  <h4>  I'm committed to streamlining development and deployment through tools like Git, Docker, Kubernetes, and CI/CD workflows.</h4>
</div>

 </div>
</section>
