<section class="skills-section">

  <h3 >Stacks</h3>

 <div class="skills-section__content">

 <div>
  <h4>Design</h4>

   <p class="header-text">Specializing in database and application design <br> I enjoy creating user-friendly experiences with tools like Merise and UML.</p>
 </div>

 <div>
  <h4>Frontend Development</h4>
  <p class="header-text"> I build intuitive interfaces using frameworks like Angular, React, and Ionic, along with <br> core web technologies such as HTML, CSS, and JavaScript.</p>
 </div>
  <div>
    <h4>Backend Development</h4>
     <p class="header-text">I develop scalable, efficient solutions using Node.js</p>
  </div>
<div>
  <h4>DevOps: </h4>
  <p class="header-text">  I'm committed to streamlining development and deployment through tools like Git, Docker, Kubernetes, and CI/CD workflows.</p>
</div>

 </div>
</section>
