@import '../../../styles/queries/queries.scss';

.footer {
  padding-bottom: 10rem;
  margin-top: 4rem;
  display: flex;
  justify-content: center;

  &__container {
     margin: auto;
     text-align: center;
     &--coordination {
      .copy-right {
        cursor: pointer;
        p {
          font-size: var(--font-size-xs);
          text-transform: capitalize;
          color: var(--gray-color-light-5);
          font-family: var(--font-family-mono);
          margin-bottom: .5rem;
        }
        transition: all .2s;
        &:hover p {
          color: var(--primary-color);
         }
      }

     }
  }

  .media-section {
   opacity: 0;
  }
  @include respond(bp-tablet-large) {
    .media-section{
      opacity: 1;
    }
    ::ng-deep app-media .media {

      @include respond(bp-tablet-large) {
          display: flex;
          justify-content: center;
          flex-direction: column-reverse;
          margin-top: var(--margin-2xl);
          &__left {
            display: none;
          }

          &__right {
            position: static;
            padding: 0;
            align-self: center;

            &--content {
              &::after {
                height: 0;
              }

              .links {
                flex-direction: row;
                li {
                  margin: 1rem 2rem;
                  i {
                    font-size: 2rem !important;
                  }
                }
              }
            }
          }
      }
    }
  }
}



