@import '../../../styles/queries/queries.scss';

.footer {
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;

  &__container {
     margin: auto;
     text-align: center;


     &--coordination {

       p{
         font-size: 1rem;
         text-transform: capitalize;
         font-size: 1rem;
         margin-top: 1rem;
         color: var(--gray-color-light-5);
         opacity: .6;
         font-family: var(--font-family-mono)
       }
     }
  }

  ::ng-deep app-media .media{
      @include respond(bp-tablet) {
          opacity: 1;
          display: flex;
          justify-content: center;
          flex-direction: column-reverse;
          margin-top: 2rem;
          &__left {
            position: static;
            padding: 0;
            &--content {

              &::after {
                height: 0;
              }
                p {
                  writing-mode: initial;
                  letter-spacing: 1px;
                  font-size: 1.2rem;
                  color: var(--gray-color-light-4);
                  opacity: .6;
                }
            }
          }

          &__right{
            position: static;
            padding: 0;
            align-self: center;
            &--content {
              &::after {
                height: 0;
              }

              .links {
                flex-direction: row;
              }
            }
          }
    }
  }
}



