.circle-container {
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
  border: 2px solid transparent;
  border-radius: 50%;
  animation: rotateCircle 10s infinite linear;
}

.word {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0 0;
  transform: rotate(var(--angle)) translate(100px) rotate(-var(--angle));
}

@keyframes rotateCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
