.work-card {

  border-radius: var(--border-radius-xs);
  overflow: hidden;
  background-color: var( --background-color-1);
  transition: all ease-in-out .2s;
  cursor: pointer;
  &:hover {
    transform: translateY(-1%);
  }

  &__img {
    //height: 18rem;
    width: 100%;
    object-fit:fill;
  }
  &__caption {
    padding: var(--padding-xl);
    color: #f3f4f6;

    &--header {
      display: flex;
      justify-content: space-between;
      margin-bottom: var(--margin-2xl);

      h3 {
        font-size: var(--font-size-xxl) ;
      }

      ul {
         display: flex;
         gap: var(--gap-md);
         justify-content: flex-end;

      }
    }
    &--tools {
      font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto";
      margin-top: var(--margin-md);
      font-size: var(--font-size-xs);

      ul {
        display: flex;
        justify-content: right;
        gap: var(--gap-md);
      }
   }
  }
}


.animate-more-creation {
  opacity: 0;
  transform: scale(0.7) ;
  transition: transform 0.5s ease;
  filter: blur(5px);
    &__show{
      opacity: 1;
      filter: blur(0);
      transform: scale(1);
    }
}
