<figure class="figure">
  <img src="../../../../assets/work/scroll.png"  />
  <figcaption class="figure__caption">
     <div class="figure__caption--header">
      <h4>Halcyon Theme</h4>
     </div>
     <div class="figure__caption--content">
      <p class="header-text">A minimal, dark blue theme for VS Code, Sublime Text, Atom, iTerm, and more. <br>
         Available on Visual Studio Marketplace, Package Control, Atom Package Manager, and npm.</p>
     </div>
     <div class="figure__caption--footer">
      VS Code, Sublime Text, Atom, iTerm2 ,Hyper
     </div>
  </figcaption>
</figure>
