.work-card {

  border-radius: 2px;
  overflow: hidden;
  background-color:  #033937 ;
  transition: all ease-in-out .2s;
  cursor: pointer;
  &:hover {
    transform: translateY(-1%);
  }

  &__img {
    height: 18rem;
    width: 100%;
    object-fit:cover;
  }
  &__caption {
    padding: 2rem;
    color: #f3f4f6;

    &--header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem;

      h3 {
        font-size: 1.5rem ;
      }

      ul {
         display: flex;
         gap: 1rem;
         justify-content: flex-end;

      }
    }
    &--tools {
      font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto";
      margin-top: 1rem;
      font-size: .7rem;

      ul {
        display: flex;
        justify-content: right;
        gap: 1rem;
      }
   }
  }
}
