<section class="work-item">
  <div class="work-item__header">
    <h4>Halcyon Theme</h4>
  </div>
  <figure class="figure">
    <img src="../../../../assets/work/nextier2.png"  />
    <figcaption class="figure__caption">
       <div class="figure__caption--content">
          <div class="description">
            <p class="header-text">A minimal, dark blue theme for VS Code, Sublime Text, Atom, iTerm, and more.
              Available on Visual Studio Marketplace, Package Control, Atom Package Manager, and npm.</p>
          </div>
       </div>
       <div class="figure__caption--footer">

       <!--  <mat-icon>mail</mat-icon> -->


        <p> VS Code, Sublime Text, Atom, iTerm2 ,Hyper </p>
        <ul>
            <li>
              <a href="#git"><i class="fab fa-github icon"></i></a>
            </li>
            <li>
            <a href="#globe"><i class="fa-solid fa-globe icon"></i></a>
            </li>
        </ul>
      </div>
    </figcaption>
  </figure>

</section>

