<figure class="work-card">
    <img class="work-card__img" src="../../../../assets/work/scroll.png"  alt="work"/>
    <figcaption class="work-card__caption">
     <div class="work-card__caption--header">
      <h1>First project</h1>
      <ul >
        <li>
          <a href="#git"><i class="fab fa-github icon"></i></a>
        </li>
        <li>
        <a href="#globe"><i class="fa-solid fa-globe icon"></i></a>
        </li>

    </ul>
     </div>
      <div>
       <p> A minimal, dark blue theme for VS Code, Sublime Text, Atom, iTerm, and more.
        Available on Visual Studio Marketplace, Package Control, Atom Package Manager, and npm. </p>
      </div>
      <div>

      </div>
    </figcaption>
</figure>



