main {
  display: grid;
  background: #f0efef;
  background: linear-gradient(#f0efef, #f0efef, rgb(21, 93, 97));
  .logo {
    padding: 2rem;
    display: flex;
    div:first-child {
      margin-right: auto;
      img {
        height: 10rem;
      }
    }
    div:last-child {
      align-self: center;
      p {
        padding: 0.5rem 2rem;
        border: 3px solid rgb(5, 102, 124);
        color: rgb(5, 102, 124);
        border-radius: 2rem;
        font-size: 1rem;
        transition: all 0.2s ease-in;
        &:hover {
          background: rgb(5, 102, 124);
          background-image: linear-gradient(
            to right,
            rgb(223, 110, 11),
            rgb(3, 92, 112)
          );
          //background: linear-gradient(rgb(21, 93, 97), rgb(223, 110, 11));
          color: #f0efef;
          cursor: pointer;
        }
      }
    }
  }

  & section {
    height: 90vh;

    div p:first-child {
      font-size: 2.5rem;
      font-weight: 700;
      background-image: linear-gradient(
        to right bottom,
        rgb(3, 92, 112),
        rgb(223, 110, 11)
      );
      display: inline-block;
      -webkit-background-clip: text; //to showthe color exactly where the txt is
      background-clip: text;
      color: transparent; //the color of the text is transpaent to make us see the -webki-clip
    }
    div p:last-child {
      font-size: 1.5rem;
    }

    text-align: center;
    figure {
      padding-top: 5rem;
      figcaption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
        font-size: 1.6rem;
        text-align: center;
        opacity: 0;
        transition: all 0.5s;
        color: white;
        &:hover {
          opacity: 1;
          transform: translate(-50%, -50%);
        }
      }
      img {
        height: 15rem;
        width: 15rem;
        border-radius: 50%;
        object-fit: cover;
        transition: all 0.2s ease-in;
        &:hover {
          filter: blur(3px) brightness(80%);
        }
      }
    }
  }
  & footer {
    //background: green;
  }
}
