

  <div class="container">
    <img
    src="../../../assets/images/app-logo.png"/>

    <img
      src="../../../assets/images/login.png"
    />
    <img
    src="../../../assets/images/signup-fill.png"/>
    <img
    src="../../../assets/images/signup.png"/>

    <img
    src="../../../assets/images/discover-I.png"/>
    <img
    src="../../../assets/images/discover-II.png"/>

    <img
    src="../../../assets/images/place-holder.png"/>

    <img
    src="../../../assets/images/chat.png"/>

    <img
    src="../../../assets/images/chat-II.png"/>
  </div>




