@import '../../../styles/queries/queries.scss';

.featured {
  h3 {
    font-size: 1.875rem;
    margin-bottom: 3rem;
  }

  app-featured-item {
    display: block;
  }
  & > app-featured-item:not(:last-child) {
    margin-bottom: 8rem;
  }

  ::ng-deep app-featured-item:nth-of-type(even) .featured-item  {
    flex-direction: row-reverse;

    @include respond(bp-tablet) {
      flex-direction: column;
    }

    &__details--container {
      align-self: flex-start;

      .description {
        &__body {
          position: absolute;
          left: 0%;
          top: 50%;
          transform: translate(0%, -50%);
          width: 30rem;
          padding: 1rem;
          p {
            text-align: left;
          }
      }
      }

      .tools {
        ul {
          justify-content: left;

        }
      }

      .links {
        justify-content: start;
      }

    }
  }

}
