@import '../../../styles/queries/queries.scss';

.featured {
  counter-reset: featured-item; /* Initialize the counter */
  h3 {
    font-size: var(--font-size-3xl);
    margin-bottom: var(--font-size-5xl);

  }

  app-featured-item {
    display: block;
  }
  & > app-featured-item:not(:last-child) {
    margin-bottom: var(--margin-10xl);
  }


  ::ng-deep app-featured-item:nth-of-type(even) .featured-item  {
    flex-direction: row-reverse;

    @include respond(bp-tablet) {
      flex-direction: column;
    }

    &__details--container {
      align-self: flex-start;
      .title {
        text-align: left;
      }
      .description {
        &__body {
          left: 0%;
          transform: translate(0%, -50%);
          @include respond(bp-tablet) {
           transform: translate(0, 0%);
          }
      }
      }

      .tools {
        ul {
          justify-content: left;

        }
      }

      .links {
        justify-content: start;
      }

    }
  }

}
