@import '../../../styles/queries/queries.scss';

.featured {
  counter-reset: featured-item; /* Initialize the counter */
  h3 {
    font-size: var(--font-size-3xl);
    margin-bottom: var(--font-size-5xl);

  }

  app-featured-item {
    display: block;
  }
  & > app-featured-item:not(:last-child) {
    margin-bottom: var(--margin-10xl);
    @include respond(bp-tablet-md) {
      margin-bottom: var(--margin-6xl);
    }
  }


  ::ng-deep app-featured-item:nth-of-type(even) .featured-item  {
    grid-template-columns: reverse;
    grid-auto-flow: column;

    &__figure {
      grid-column: 4/ -1;
      @include respond(bp-tablet-md) {
        grid-column: 1 / -1;
      }
    }

    &__details{
      grid-column: 1/ 10;
       @include respond(bp-tablet-md) {
         grid-column: 1 / -1;
       }
      &--container {
        .title {
          text-align: left;
        }
        .description {
         &__body {
            p {
              text-align: left;
            }

          }
        }

       .tools {
          ul {
            justify-content: left;

          }
        }

        .links {
          justify-content: start;
        }

      }
    }

  }

}
