<section class="header-section">
   <ul class="header-section__nav-links">
    <li >
      <a href="#logo" class="header-section__nav-links--nav-link">My logo</a>
    </li>
    <li class="header-section__nav-links--nav-link">
      <a class="header-section__nav-links--nav-link" href="#about-me">About me</a>
    </li>
    <li>
      <a href="#experience" class="header-section__nav-links--nav-link">Experience</a></li>
    <li><a href="#work"  class="header-section__nav-links--nav-link">work</a></li>
    <li  nightMode [changModeState]="isActive"  (click)="onChangeMode()">
      <a href="#resume" class="header-section__nav-links--nav-link">Resume</a>
    </li>
   </ul>

</section>
