<header class="header-section"  appHeader [scrollDirectionData]="scrollData">

  <div class="header-section__logo">
    <a  href="#">
      <img src="../../../assets/icons/8.svg" />
    </a>

  </div>

  <nav class="header-section__nav">
    <ul class="header-section__nav--links" >


      <li >
        <a  href="#about-me">About me</a>
      </li>
      <li >
        <a  href="#featured">Featured work</a>
      </li>
      <li>
        <a href="#contact" > contact</a>
      </li>
      <li>
        <a href="#work" >work</a>
      </li>

    </ul>
 </nav>

 <!--  <div class="header-section__mode" >
     <button class="header-section__mode--btn" nightMode [changModeState]="isActive"  (click)="onChangeMode()" >
      <i class="fa-solid fa-moon"></i>
     </button>
   </div> -->
   <div class="header-section__menu">
     <app-menu-button></app-menu-button>
   </div>
</header>
