.header-section {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: transform 0.5s ease-in-out;  /* Smooth transition */
  transform: translateY(0);  /* Initial state */
  z-index: 1;
  &__logo {
    flex: 1;
    padding-left: 1rem;
    color: #00bcd4;
    img {
      height: 3rem;
      width: 3rem;
    }
  }

  &__mode {
    padding-right: 1rem;
    &--btn {
      background: unset;
      border: unset;
      color: unset;
      padding: .5rem .8rem;
      transition: all ease-in-out .2s;
       img {
        height: 2rem;
        width: 2rem;
       }
      .light {
        background: red;
        &:hover {
          box-shadow: 3px 5px 2px 2px rgba($color: #720442, $alpha: 1.0) ;
          transform: scale(1.01);
        }
      }
      .dark {
        background: red;
        &:hover {
          box-shadow: 3px 5px 2px 2px rgba($color: #000000, $alpha: 1.0) ;
          transform: scale(1.01);
        }
      }
    }
  }
  nav {
    flex: 1;
  }

  &__nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 20px;
    display: flex;
    margin-left: auto;

    li {
      display: inline;
      margin-right: 20px;
      flex: 1;
    }
    &--nav-link {
      text-decoration: none;
       &:visited ,&:active {
        color: unset;
        color: var(--primary-color);
        color: #00bcd4;
        color: #2ecc71;

        color: #26a69a;
        color: #8e44ad;
        color: #ffca28;
        color: #ff7043;
        color: #046d69;
        color: #06b3ad;
        color: #1098ad ;
        color: #15aabf;

      }
      &:hover {
        color: var( --primary-color-light-1);
      }
    }
  }
}
