
<div class="featured-item animate-featured" [ngStyle]="{'--background-url': 'url(' + item.image + ')'}"  >
  <div class="featured-item__work">
    <img [src]="item.image" alt="featured_work"  />
  </div>
  <div class="featured-item__details">
      <div class="featured-item__details--container">
        <div class="title">
           <h3 > {{ item.title }}</h3>
        </div>
        <div class="description" >
         <div class="description__body">
            <p>
             {{ item.description}}
             <span>
              {{ item.subDescription}}
             </span>
            </p>
         </div>
        </div>
        <div class="tools">
          <ul>
            <li *ngFor="let listItem of item.tools">
              {{ listItem  }}
            </li>

          </ul>
        </div>

          <ul class="links" >
            <li>
              <a href="#git">
                <i class="fab fa-github icon"></i>
              </a>
            </li>
            <li>
              <a href="#globe">
                <i class="fa-solid fa-globe icon"></i>
              </a>
            </li>
        </ul>

      </div>
  </div>
</div>
