@import '../../../../styles/queries/queries.scss';

.featured-item {
    display:  flex;
    justify-content: space-between;
    gap: 1rem;
    counter-increment: featured-item 1;
    @include respond(bp-tablet) {
      flex-direction: column;
      position: relative;
    }

    &__work {
      flex: .9;

      @include respond(bp-extra-large) {
        position: relative;
      }

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: background-color .3s ease-in-out;
        background-color: #578d7d;
        opacity: .6;
        height: 100%;
        width: 100%;
        @include respond(bp-tablet) {
            background-color: #001f24;
            opacity: 0.9;

        }
      }

      &:hover {
        &::after {
          transition: background-color .3s ease-in-out ;
          background-color: transparent;
        }
      }
      img {
        height: 26rem;
        width: 100%;
        display: block;
        object-fit: cover;
        border-radius: 2px;
        @include respond(bp-tablet) {
          height: 50rem;
        }
      }

    }

    &__details {
      flex: .5;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      @include respond(bp-tablet) {
        position: absolute;
        left: 0;
        right: 0;
        height: 100%;
        padding: 2rem;

      }

      &--container {
        align-self: flex-end;

        @include respond(bp-tablet) {
          display: flex;
          flex-direction: column;
          height: 50rem;
          width: 100%;
        }

        .title {
          text-align: right;
          margin-bottom: 1rem;
          font-size: 1.25rem;

          @include respond(bp-tablet) {
            margin-bottom: 2rem;
          }

         h3 {
          @include respond(bp-tablet) {
            color: var(--gray-color-light-0);
            &::before {
              content: "0" counter(featured-item) ".";
              font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
              color: var(--primary-color);
            }
          }
         }

        }

        .description {

          height: 10rem;
          position: relative;
          &__body {
              background-color: #013038;;
              position: absolute;
              right: 0%;
              top: 50%;
              transform: translate(0%, -50%);
              width: 30rem;
              padding: 1rem;

              @include respond(bp-laptop) {
                position: absolute;
              }

              @include respond(bp-tablet) {
                 background-color: unset;
                opacity: 0.8;

                padding: 0rem;
                position: relative;
                top: 0;
                transform: translate(0%, 0%);
                width: 100%;
              }
              p {
                text-align: right;
                line-height: 1.7;
                font-size: 1.125rem;
                 span {
                  display: none;
                }

                @include respond(bp-tablet) {
                  color: var(--gray-color-light-0);
                  text-align: left;
                  span {
                    display: initial;
                  }
               }
              }
          }
        }

        .tools {
          font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto";
          margin-top: 1rem;
          font-size: .5rem;
          color: var(--gray-color-light-5);

          @include respond(bp-tablet) {
            margin-top: auto;
          }
          ul {
            display: flex;
            justify-content: right;
            gap: 1rem;
          }
        }

        .links {
          display: flex;
          justify-content: flex-end;
          gap: 1rem;
          margin-top: .8rem;
        }
      }
    }
}
