@import '../../../../styles/queries/queries.scss';


.featured-item {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  counter-increment: featured-item 1;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 22rem;
  @include respond(bp-tablet-md) {
    height: 100%;
  }
  &__figure {
    grid-column: 1 / 9;
    @include respond(bp-tablet-md) {
      grid-column: 1 / -1;
    }


    @include respond(bp-tablet-md) {
      flex-direction: column;
      background-image: var(--background-url);
      background-size: cover;
      background-position: center;
      padding: 2rem;
      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background-color: var(--background-color-1);
        opacity: 0.9;
      }
    }

    grid-row: 1;
    height: 100%;
    background-image: var(--background-url);

    width: 100%;
    border-radius: var(--border-radius-xs);
    background-size: cover;
    background-position: center;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      transition: background-color .3s ease-in-out;
      background-color: #578d7d;
      opacity: .6;
      @include respond(bp-tablet-md) {
        background-color: var(--background-color-1);
        opacity: .9;
      };

      height: 100%;
      width: 100%;
    }

    &:hover {
      &::after {
        transition: background-color .3s ease-in-out ;
        background-color: transparent;
      }
    }
  }
  &__details{
    grid-column: 6 / -1;
    z-index: 1;
    grid-row: 1;
    height: 100%;
    display: flex;
    justify-content: space-between;
    @include respond(bp-laptop-large) {
     grid-column: 4 / -1;
    }

    @include respond(bp-tablet-md) {
      grid-column: 1 / -1;
      padding: 2rem 1.5rem;
    }
    &--container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      .title {
        text-align: right;
         margin-bottom: var(--margin-2xl);
         font-size: var(--font-size-xl);
         @include respond(bp-tablet-md) {
          margin-bottom: var(--margin-lg);
         }

        h3 {
          color: var(--gray-color-light-0);
          &::before {
            content: "0" counter(featured-item) ".";
            font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
            color: var(--primary-color);
            font-size: 1rem;
          }
        }

       }

      .description {
          @include respond(bp-tablet-md) {
            height: 100%;
          }
         &__body {
              background-color: #013038;
              width: 100%;
              padding: var( --padding-md);
              @include respond(bp-laptop-large) {
            }
              @include respond(bp-laptop-md) {

              }
              @include respond(bp-laptop-sm ) {

              }
              @include respond(bp-tablet-large) {

              }
              @include respond(bp-tablet-md) {
                background-color: unset;
                width: 100%;
              }

              p {
                text-align: right;
                line-height: 1.7;
                font-size: var(--font-size-lg);
                &::before{
                    content: var(--project-name);
                    color: var(--primary-color);
                    font-weight: bold;
                 }
                 .sub-description {
                  display: none;
                }

                @include respond(bp-tablet-md) {
                  color: var(--gray-color-light-0);
                  text-align: left;
                  .sub-description {
                    display: initial;
                  }
               }
              }
          }
      }

      .tools {
        font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto";
        margin-top: var(--margin-2xl);
        font-size: var(--font-size-xs);
        color: var(--gray-color-light-5);
        ul {
          display: flex;
          justify-content: right;
          gap: var(--gap-md);
        }
      }

      .links {
        display: flex;
        justify-content: flex-end;
        gap: var(--gap-lg);
        margin-top: var( --margin-md);
        font-size: var( --font-size-xxl);
      }
    }
  }
}

.animate-featured {
  opacity: 0;
  transform: scale(0.7) ;
  transition: transform 0.5s ease;
  filter: blur(5px);
  &__show {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
};
