<div class="featured-item animate-featured">
  <section class="featured-item__figure" [ngStyle]="{'--background-url': 'url(' + item.image + ')'}" >
  </section>
  <section class="featured-item__details">
    <div class="featured-item__details--container">
      <div class="title">
         <h3 > {{ item.title }}</h3>
      </div>
      <div class="description" >
       <div class="description__body">
          <p [ngStyle]="{'--project-name': '\'' + item.title + '\''}">
           {{ item.description}}
           <span class="sub-description">
            {{ item.subDescription}}
           </span>
          </p>
       </div>
      </div>
      <div class="tools">
        <ul>
          <li *ngFor="let listItem of item.tools">
            {{ listItem  }}
          </li>
        </ul>
      </div>

        <ul class="links" >
          <li>
            <a href="#">
              <i class="fab fa-github icon"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa-solid fa-globe icon"></i>
            </a>
          </li>
      </ul>

    </div>
  </section>
</div>
