@import '../../../../styles/queries/queries.scss';

.featured-item {
    display:  flex;
    justify-content: space-between;
    gap: 1rem;

    @include respond(bp-tablet) {
      flex-direction: column;
      position: relative;
    }
    &__work {
      flex: .9;
      position: relative;
      overflow: hidden;
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: background-color .3s ease-in-out;
        background-color: #578d7d;
        opacity: .6;
        height: 100%;
        width: 100%;
        @include respond(bp-tablet) {
          background-color: #001f24;
          opacity: 0.9;
          overflow: hidden;
        }
      }

      &:hover {
        &::after {
          transition: background-color .3s ease-in-out ;
          background-color: transparent;
        }
      }
      img {
        height: 26rem;
        display: block;
        object-fit: cover;
        border-radius: 2px;
        @include respond(bp-tablet) {
          height: 30rem;
        }
      }

    }
    &__details {

      flex: .5;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      @include respond(bp-tablet) {
        position: absolute;
        left: 0;
        right: 0;
        padding: 2rem 1rem;
      }

      &--container {
        align-self: flex-end;
        .title {
          text-align: right;
          margin-bottom: 1rem;
          font-size: 1.25rem;
        }

        .description {
          position: relative;
          height: 10rem;
          &__body {
              background-color: #032e2d;
              background-color: #001f24;
              position: absolute;
              right: 0%;
              top: 50%;
              transform: translate(0%, -50%);
              width: 30rem;
              padding: 1rem;
              @include respond(bp-tablet) {
                background-color: #001f24;
                opacity: 0.8;
                overflow: hidden;
              }
              p {
                text-align: right;
                line-height: 1.7;
                font-size: 1.125rem;
              }
          }
        }

        .tools {
          font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto";
          margin-top: 1rem;
          font-size: .5rem;
          color: var(--gray-color-light-5);

          ul {
            display: flex;
            justify-content: right;
            gap: 1rem;
          }
        }

        .links {
          display: flex;
          justify-content: flex-end;
          gap: 1rem;
          margin-top: .8rem;
        }
      }
    }
}
