 <section class="methodology">
  <div class="methodology__orbit-container">
    <div class="methodology__orbit-container--sun"></div>
    <div class="methodology__orbit-container--orbit" >
      <div class="orbit-text-container" [ngStyle]="{'--i': 0}" > <p class="text-1">Design</p></div>
       <div class="orbit-text-container" [ngStyle]="{'--i': 1}"> <p class="text-2">Build</p></div>
      <div class="orbit-text-container" [ngStyle]="{'--i': 2}"> <p class="text-3">Test</p></div>
      <div class="orbit-text-container" [ngStyle]="{'--i': 3}"> <p class="text-4">Launch</p></div>

    </div>
    <div class="methodology__orbit-container--orbit-2" >
    </div>
    <div class="methodology__orbit-container--orbit-3" >
    </div>
  </div>
</section>



