<main  scrollDirection >

  <div>
    <app-header></app-header>
  </div>

  <div id="home">
    <app-welcome ></app-welcome>
  </div>

  <div id="about">
    <app-about-me ></app-about-me>
  </div>

  <div id="skills">
    <app-skills ></app-skills>
  </div>

  <div id="work">
    <app-web-creations ></app-web-creations>
  </div>

  <div id="media-section">
    <app-media></app-media>
  </div>

  <div id="contact">
    <app-call-for-action ></app-call-for-action>
  </div>


  <div id="app-menu">
    <app-menu></app-menu>
  </div>

  <div id="app-footer">
    <app-footer></app-footer>
  </div>

  <div>
      <app-loading></app-loading>
  </div>
</main>





