<main  scrollDirection  scrollAnimation >

  <div>
    <app-header></app-header>
  </div>

  <div   id="home" class="animate animate__show">
    <app-welcome ></app-welcome>
  </div>

  <div scrollAnimation id="about" class="animate">
    <app-about-me ></app-about-me>
  </div>

  <div scrollAnimation id="skills" class="animate">
    <app-skills ></app-skills>
  </div>

  <div scrollAnimation id="work" >
    <app-web-creations ></app-web-creations>
  </div>

 <div scrollAnimation id="media-section">
    <app-media></app-media>
  </div>

  <div scrollAnimation id="contact" class="animate">
    <app-call-for-action ></app-call-for-action>
  </div>

  <div scrollAnimation id="app-footer" >
    <app-footer></app-footer>
  </div>

</main>





