@import '../../../styles/queries/queries.scss';

main {
  height: 100vh;
  overflow-y: auto;
  position: relative;
  padding-left: 16rem;
  padding-right: 16rem;
  scroll-behavior: smooth;

   @include respond(bp-laptop-large) {
    padding-left: 14rem;
    padding-right: 14rem;
  }
  @include respond(bp-laptop) {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  @include respond(bp-tablet) {
    padding-left: 3rem;
    padding-right: 3rem;
  }


  .call-to-action {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  & > :last-child{
    margin-top: 8rem;
  }
  & > *  {

    @include respond(bp-tablet) {
      margin-bottom: 14rem;
    }
  }

}




