<main  scrollDirection >

  <div>
    <app-header></app-header>
  </div>

  <div >
    <app-welcome id="home"></app-welcome>
  </div>

  <div id="about">
    <app-about-me ></app-about-me>
  </div>

  <div id="skills">
    <app-skills ></app-skills>
  </div>

  <div id="work">
    <app-web-creations ></app-web-creations>
  </div>

  <div>
    <app-media></app-media>
  </div>

  <div class="call-to-action">
    <app-call-for-action id="contact"></app-call-for-action>
  </div>


  <div>
    <app-menu></app-menu>

  </div>

  <div>
    <app-footer></app-footer>
  </div>

</main>





