
<section class="welcome" starsLights nightMode>
  <div class="welcome__header">
    <div>
      <div class="welcome__header--name" >
          <p>Hi, I'am </p>
          <h1 class="margin-btm__md">Salim,</h1>
      </div>

      <h1 class="welcome__header--content margin-btm__big "> I Build Beautiful Things for the Web</h1>
      <p class="header-text">
        &mdash; I’m a junior full-stack web developer with a focus on creating seamless web applications. <br>
        My expertise spans both front-end and back-end development, and I'm currently honing <br> my skills
        in crafting solutions using Angular, React, and Node.js.
      </p>
    </div>
  </div>

  <div class="welcome__link">
    <a href="#work">Explore my work</a>
  </div>
</section>
