<section class="welcome" starsLights nightMode>
  <div class="welcome__header">
    <div>
      <h1 class="welcome__header--name" >
        Hi, my name is Salim
      </h1>
      <h2 class="welcome__header--content"> I Build Beautiful Things for the Web</h2>
      <p class="header-text">
        I’m a junior full-stack web developer with a focus on creating seamless web applications. <br>
        My expertise spans both front-end and back-end development, and I'm currently honing <br> my skills
        in crafting solutions using Angular, React, and Node.js.
      </p>
    </div>
  </div>

  <div class="welcome__link">
    <a href="#work">Explore my work</a>
  </div>
</section>
