@import '../../../styles/queries/queries.scss';

.welcome {
  height: 50vh;
  width: 100%;
  display: flex;
  padding-top: var(--padding-2xl);
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-4xl);


  @include respond(bp-laptop-md) {
    flex-direction: column-reverse;
    height: 80vh;
  }

  @include respond(bp-tablet-large) {
    justify-content: center;
    height: 70vh;
    padding-top: 0;
    gap: var(--gap-4xl);
  }

  @include respond(bp-mobile-large) {
    height: 60vh;
  }

  &__header {
    &--presentation {
      .title-description {
          background-image: linear-gradient(45deg, var(--gray-color-light-5),
           var(--gray-color-light-2));
          background-clip: text;
          color: transparent;
      }

      h1 {
        font-weight: 700;
        letter-spacing: 1px;
        @include respond(bp-tablet-large) {
          letter-spacing: .5px;
        }
      }
      .name {
        display: flex;
        gap: var(--gap-sm);

        h1{
          font-size: var(--font-size-7xl);
          line-height: 1.1;
          margin-bottom: var(--margin-xl);
          font-family: var(--font-family-sans);
          color: var(--gray-color-light-2);

         }
        p {
          color: var(--primary-color);
          margin-right: var(--margin-xs);
          font-weight: 500;
          font-family: var(--font-family-mono);
        }
      }
      .title {
          font-size: var(--font-size-6xl);
          color: var(--gray-color-light-4);
      }

    }
    &--link {
      margin-top: var(--margin-xl);
      display: inline-block;
      @include respond(bp-tablet-large) {
        margin-top: var(--margin-6xl);
      }
      app-button {
        display: inline-block;
      }
     }
  }

  i {
    position: absolute;
    background: white;
    border-radius: var(--border-radius-full);
    box-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff,
    0 0 80px #fff;

    animation: stars linear infinite ;
  }

  &__methodology {
    display: flex;
    justify-content: center;
  }
}

@keyframes stars {
  0% {
     opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
