<section class="welcome" starsLights nightMode>
  <div class="welcome__header">
    <div>
      <p class="welcome__header--name" >Hi, I'm Salim</p>
      <h1 class="welcome__header--content"> Building Beautiful Things for the Web</h1>
      <p>I'm a full stack web developer building digital experience.</p>
    </div>
  </div>

  <div class="welcome__hero">
     <img src="https://images.unsplash.com/photo-1450133064473-71024230f91b?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cGVvcGxlJTIwYmxhY2t8ZW58MHx8MHx8fDA%3D" alt="hero"/>
  </div>
</section>
