.welcome {
  width: 100%;
  //height: 50vh;
  display: flex;
  padding-top: 5rem;
  //align-items: center;
  flex-direction: column;
  &__header {

    &--name {
      display: flex;
      gap: 6px;
      p{
        color: var(--primary-color);
        font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto";
      }
    }
  }
  &__link {
    margin-top: 1rem;
      app-button {
        display: inline-block;
      }

  }
  i {

    position: absolute;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff,
    0 0 80px #fff;

    animation: stars linear infinite ;
  }
}



@keyframes stars {
  0% {
     opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
