@import "../../../theme/queries";

.works {
  &__header {
    text-align: center;
    margin-top: 3rem;
    p {
      font-size: 3rem;
      background-image: linear-gradient(
        to right bottom,
        rgb(3, 92, 112),
        rgb(223, 110, 11)
      );
      display: inline-block;
      -webkit-background-clip: text; //to showthe color exactly where the txt is
      background-clip: text;
      color: transparent; //the color of the text is transpaent to make us see the -webki-clip
    }
  }
  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;

    img {
      margin: 1rem;
      width: 40rem;
      background: #fff;
      padding: 1rem;
      @include respond(bp-extra-large) {
        width: 44%;
      }
      @include respond(bp-laptop-large) {
        width: 43%;
      }
      @include respond(bp-laptop) {
        width: 40%;
      }

      @include respond(bp-tablet) {
        width: 100%;
      }
      @include respond(bp-mobile-large) {
        width: 100%;
      }
      @include respond(bp-mobile-medium) {
        width: 100%;
      }
      @include respond(bp-mobile-small) {
        width: 100%;
      }
    }
  }
}
