<div class="works">
  <div class="works__header">
    <p>My recent project</p>
  </div>
  <section>
    <img
      src="http://res.cloudinary.com/dlaztxrfw/image/upload/v1711921152/ogwxasnbvcfskr0ehijr.png"
    />
    <img
      src="http://res.cloudinary.com/dlaztxrfw/image/upload/v1711921001/z23yczoy7jul2kp3ek4g.png"
    />
    <img
      src="http://res.cloudinary.com/dlaztxrfw/image/upload/v1711921241/i3b5fykj1dh2cn7fgmog.png"
    />
    <img
      src="http://res.cloudinary.com/dlaztxrfw/image/upload/v1711921304/j3eadk04rsa3hyntziuv.png"
    />
    <img
      src="http://res.cloudinary.com/dlaztxrfw/image/upload/v1711921365/px2mrv6xboiiz7auqsmn.png"
    />
    <img
      src="http://res.cloudinary.com/dlaztxrfw/image/upload/v1711921430/tqrutpfn1mrsmknjxir5.png"
    />
    <img
      src="http://res.cloudinary.com/dlaztxrfw/image/upload/v1711921508/tgahjoapmrb6gm1vovjs.png"
    />
    <img
      src="http://res.cloudinary.com/dlaztxrfw/image/upload/v1711922161/ks3yb8ycuecfmoxbxgw8.png"
    />
    <img
      src="http://res.cloudinary.com/dlaztxrfw/image/upload/v1711921693/uajjiqrq6w6ddtumwqgv.png"
    />
    <img
      src="http://res.cloudinary.com/dlaztxrfw/image/upload/v1711921747/dgvjqwxcldewikikue7o.png"
    />
  </section>
</div>
