.skills-item {
  &__title {
    margin-bottom: var(--margin-md);
    font-size: var(--font-size-xl);
    display: flex;
    gap: var(--gap-md);
    h3,i {
      align-self: center;
    }

    i {
      color : var(--primary-color)
    }
  }
  &__list {
    font-size: var(--font-size-md);
    line-height: 1.7;
    li {
      font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto";
      span {
        color : var(--secondary-color);
        margin-right: var(--margin-md);
      }
      color: var(--gray-color-light-5);

    }
  }
}
