.skills-item {
  &__title {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    display: flex;
    gap: 1rem;
    h3,i {
      align-self: center;
    }


    i {
      color : var(--primary-color)
    }
  }
  &__list {
    font-size: 1rem;
    line-height: 1.7;
    li {
      font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto";
      span {
        color : var(--primary-color)
      }
      color: var(--gray-color-light-5);

    }
  }
}
