.skills-item {
  &__title {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    display: flex;
    gap: 1rem;
    h3,i {
      align-self: center;
    }

    i {
      color : var(--primary-color)
    }
  }
  &__list {
    font-size: 1.125rem;
    line-height: 1.7;
    li {
      span {
        color : var(--primary-color)
      }
    }
  }
}
