@import '../../../styles/queries/queries.scss';

.work {
  h3 {
   font-size: var(--font-size-3xl);
   margin-bottom: var(--margin-6xl);
  }
 &__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include respond(bp-tablet-large) {
    gap: var(--gap-md);
  }
  app-work-item {
    justify-content: center;
    width: 32%;
    margin-bottom: var(--margin-2xl);
    @include respond(bp-laptop-md) {
      width: 48%;
    }

    @include respond(bp-tablet-sm) {
       width: 100%;
    }
  }
 }
}
