@import '../../../styles/queries/queries.scss';

.media {
    @include respond(bp-tablet-md) {
      display: none;
    }

  &__left {
    position: fixed;
    bottom: 0;
    left: 0;
    padding-left: var(--padding-3xl);

    @include respond(bp-laptop-md) {
      padding-left: var(--padding-xl);
    }

   &--content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--padding-lg);
     &::after {
      content: "";
      border-left: 2px solid var(--gray-color-light-5)  ;
      display: block;
      height: 5rem;
      align-self: center;
    }
     p {
        writing-mode: vertical-rl;
        font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
        margin-top: var(--margin-2xl);
        margin-bottom: var(--margin-xs);
        color: var(--gray-color-light-5);
        font-size: var(--font-size-xxs);
        letter-spacing: .3rem;
     }
   }
  }

  &__right {
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: right;
    padding-right: var(--padding-3xl);
    @include respond(bp-laptop-md) {
      padding-right: var(--padding-xl);
    }


    &--content {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: var(--padding-lg);
      &::after {
        content: "";
        border-left: 2px solid var(--gray-color-light-5);
        display: block;
        height: 5rem;
        align-self: center;
      }

    }
  }


  .links {
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
    opacity: .7;
    li {
      i {
        font-size: var( --font-size-xxl);
        margin-bottom:var(--margin-md) ;
        color: var(--gray-color-light-5);

      }
    }
  }

}

