.media {


  &__left {
    position: fixed;
    bottom: 0;
    left: 0;
    padding-left: 5rem;
   &--content {
    position: relative;
    display: flex;
    flex-direction: column;

     &::after {
      content: "";
      border-left: 2px solid  #02363e;
      display: block;
      height: 5rem;
      align-self: center;
    }
     p{
        writing-mode: vertical-rl;
        font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto";
        margin-top: 1rem;
        font-size: .7rem;
        margin-bottom: .5rem;
        letter-spacing: 5px;
        color: #02363e;
     }
   }
  }

  &__right{
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: right;
    padding-right: 5rem;
    &--content {
      position: relative;
      display: flex;
      flex-direction: column;
      &::after {
        content: "";
        border-left: 2px solid var(--gray-color-light-5);


        display: block;
        height: 5rem;
        align-self: center;
      }

    }
  }


  .links {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

}

