<section [ngClass]="{'menu-section': true, 'menu-section__show': isActive}">
  <div class="left-background">

  </div>
  <div class="right-background">

  </div>

  <div class="content">
    <ul [ngClass]="{'links': true, 'links__show': isActive }" (click)="toggleMenu()" >
      <li >
        <a  href="#home">home</a>
      </li>
      <li >
        <a  href="#about">about me</a>
      </li>
      <li >
        <a  href="#skills">skills</a>
      </li>
      <li >
        <a  href="#work">work</a>
      </li>
      <li>
        <a href="#contact" > contact</a>
      </li>
    </ul>
  </div>
</section>
