.menu-section {
  position: absolute;
  right: 50%;
  top: 0%;
  transform: translate(50%, 0%);
  height: 100vh;
  width: 100%;
  z-index: 10;
  display: flex;
  transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);

  &__show {
     opacity: 1;
  }

  &__hide {
    width: 0;
    opacity: 0;
    right: 0;
  }

.content {
    color: var(--gray-color-light-3);
    text-transform: uppercase;
    text-align: center;

    z-index: 100;
    margin: auto;

    .links {
        font-size: 1rem;

        counter-reset: linkCounter;
        li {
          padding: 1rem;
          counter-increment: linkCounter 1;
          transition: all .4s ease-in-out;
          &:hover {
            position: relative;
            background: linear-gradient(90deg, var(--primary-color),  rgb(0, 17, 15) );
            transition: background-position 0.5s ease; /* Smooth transition for background */
            background-size: 200% 100%; /* Double the width for animation effect */
            background-position: -110% 0; /* Start from the right */
            transform: translateX(10px);
            transition: all .4s ease-in-out;
          }
        }
        li:not(:last-child) {
          margin-bottom: 2rem;
        }
       .active {
        a {
          position: relative;
          color: transparent;
          background: linear-gradient(90deg,  rgb(0, 17, 15) , var(--primary-color));
          background-clip: text;
          -webkit-background-clip: text; /* For Safari */
          transition: background-position 0.5s ease; /* Smooth transition for background */
          background-size: 200% 100%; /* Double the width for animation effect */
          background-position: -100% 0; /* Start from the right */

        }
       }

      a {
        letter-spacing: .3rem;
        font-size: 2rem;
        font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
        &::before {
          content: "0" counter(linkCounter )  ". ";
        }
      }
    }
  }

}

@keyframes showMenu-section {
    0%{
      opacity: .5;
    }
    100% {
      opacity: 1;
    }
}

@keyframes hideMenu-section {
  0%{
    opacity: 1;
    display: flex;
  }
  50%{
    opacity: .5;
    display: flex;
  }
  100% {
    opacity: 0;
    display: initial;
  }
}


// Show section
@keyframes leftLinksAnimation {
  0% {
    transform: translate(-1000px);
    letter-spacing: 3px;
  }
  50% {
    transform: translate(20px);
    letter-spacing: 3px;
  }
  100% {
    transform: translate(0);
  }
}

@keyframes rightLinksAnimation {
  0% {
    transform: translate(1000px);

  }
  50% {
    transform: translate(-20px);
    letter-spacing: 3px;
  }
  100% {
    transform: translate(0);
  }
}
