.menu-section {
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  display: none;
  opacity: 0;
  background-color: #001f24;

  &__show {
     animation: showMenu-section .5s forwards;
     display: flex;
     opacity: 1;
  }

  .left-background, .right-background {
    height: 100%;
    width: 50%;
    position: absolute;

  }

  .left-background {
     position: absolute;
     left: 0;
     top: 0;
  }

  .right-background {

    right: 0;
    top: 0;
 }

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--gray-color-light-3);
    text-transform: uppercase;
    text-align: center;

    .links {
      font-size: 1rem;
       .active {
        a {
          position: relative;
          color: transparent;
          background: linear-gradient(90deg,  rgb(0, 17, 15) , var(--primary-color));
          background-clip: text;
          -webkit-background-clip: text; /* For Safari */
          transition: background-position 0.5s ease; /* Smooth transition for background */
          background-size: 200% 100%; /* Double the width for animation effect */
          background-position: -100% 0; /* Start from the right */
        }
       }

      a {
        letter-spacing: .3rem;
        font-size: 1.25rem;
        font-weight: 700;
        font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
        &:hover {
          position: relative;
          color: transparent;
          background: linear-gradient(90deg,  rgb(0, 17, 15) , var(--primary-color));
          background-clip: text;
          -webkit-background-clip: text; /* For Safari */
          transition: background-position 0.5s ease; /* Smooth transition for background */
          background-size: 200% 100%; /* Double the width for animation effect */
          background-position: -100% 0; /* Start from the right */
        }
      }
      li:not(:last-child) {
        margin-bottom: 2rem;

      }

      &__show {
        & li:nth-child(even) {
          transition: all .5s ease;
          animation: leftLinksAnimation .5s  forwards;
        }
        & li:nth-child(odd) {
          transition: all .5s ease;
          animation: rightLinksAnimation .5s forwards;
        }
      }
    }


  }

}

@keyframes showMenu-section {
    0%{
      opacity: .5;
    }
    100% {
      opacity: 1;
    }
}


// Show section
@keyframes leftLinksAnimation {
  0% {
    transform: translate(-1000px);
    letter-spacing: 3px;
  }
  50% {
    transform: translate(20px);
    letter-spacing: 3px;
  }
  100% {
    transform: translate(0);
  }
}

@keyframes rightLinksAnimation {
  0% {
    transform: translate(1000px);

  }
  50% {
    transform: translate(-20px);
    letter-spacing: 3px;
  }
  100% {
    transform: translate(0);
  }
}
