.menu-section {

  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  display: none;
  opacity: 0;
  background-color: #001f24;

  &__show {
     animation: showMenu-section .5s forwards;
     display: flex;
     opacity: 1;
  }

  .left-background, .right-background {
    height: 100%;
    width: 50%;
    position: absolute;

  }

  .left-background {
     position: absolute;
     left: 0;
     top: 0;
  }

  .right-background {

    right: 0;
    top: 0;
 }

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #f8f9fa;
    text-transform: uppercase;
    text-align: center;

    .links {
      font-size: 1rem;

      a {
        letter-spacing: .3rem;
      }
      li:not(:last-child) {
        margin-bottom: 2rem;

      }

      &__show {

        & li:nth-child(even) {
          transition: all 1s ease;
          animation: leftLinksAnimation 1s  forwards;
        }

        & li:nth-child(odd) {
          transition: all 1s ease;
          animation: rightLinksAnimation 1s forwards;
        }
      }
    }


  }

}

@keyframes showMenu-section {
    0%{
      opacity: .5;
    }
    100% {
      opacity: 1;
    }
}


// Show section
@keyframes leftLinksAnimation {
  0% {
    transform: translate(-1000px);
  }
  50% {
    transform: translate(20px);
    letter-spacing: 1rem;
  }
  100% {
    transform: translate(0);
  }
}

@keyframes rightLinksAnimation {
  0% {
    transform: translate(1000px);

  }
  50% {
    transform: translate(-20px);
    letter-spacing: 1rem;
  }
  100% {
    transform: translate(0);
  }
}
