@import '../../../styles/queries/queries.scss';
.about-me {
  width: 100%;

  @include respond(bp-laptop) {
    padding-top: 0;
    height: 100%;
  }

  h2 {
    position: relative;
    display: flex;
    gap: var(--gap-md);
    margin-bottom: var(--margin-3xl);

    &::before {
      content: "";
      height: 1px;
      width: 10rem;
      background-color: var(--background-color-1);
      display: block;
      align-self: center;
    }
  }

  &__content {
    display: flex;
    gap: var(--gap-3xl);
    justify-content: space-between;

    @include respond(bp-tablet-md) {
      flex-direction: column;
      gap: var(--gap-2xl);
    }

    &--text {
      align-self: center;

      @include respond(bp-tablet-md) {
        align-self: flex-start;
      }
      p {
        max-width: 40rem;

        @include respond(bp-tablet-large) {
          max-width: 35rem;
          text-align: left;
        }

        span{
          display: block;
          padding-top: var(--padding-md);
        }
      }

    }
    &--hero {
        align-self: center;

      .image-container {
        padding: var(--padding-md);
        position: relative;
        width: 18rem;
        height: 18rem;

        box-shadow: 0 .5rem 0.937rem var(--primary-color);
        border-radius: 50%;
        overflow: hidden;
        div {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%) rotate(45deg) ;
          height: 30rem;
          width: 1rem;
          background-color: var(--background-color);

        }

        &::before {
          content: "";
          position: absolute;
           height: 92%;
           width: 92%;
           top: 50%;
           left: 50%;
           transform: translate(-50%, -50%);
           border: 2px solid #013138 ;
           box-shadow: 0 .5rem 0.937rem var(--primary-color);
        }
        &::after {
          content: "";
          position: absolute;
           height: 90%;
           width: 90%;
           top: 50%;
           left: 50%;
           transform: translate(-50%, -50%);
           border: 2px solid #013138 ;
           background-image: url("https://res.cloudinary.com/dlaztxrfw/image/upload/v1730557437/zbtm6kpsyhwwmktcpb7a.png");

           background-size: cover;
           background-position: center;
           border-radius: 50%;

        }

        @include respond(bp-laptop-md  ) {
            width: 16rem;
            height: 16rem;
        }

        @include respond(bp-laptop-sm )  {
            width: 14rem;
            height: 14rem;
        }

        @include respond (bp-tablet-large) {
          width: 13rem;
          height: 13rem;
        }

        @include respond (bp-tablet-md) {
          width: 20rem;
          height: 20rem;
        }
        @include respond (  bp-mobile-large) {
          width: 24rem;
          height: 24rem;
        }

      }



  }
  }
}
