<section class="about-me" nightMode>
  <h1>About me</h1>
  <p>
    Hello! My name is Salim and I enjoy building things that live on the internet. My interest in web developpement started back in 2019 when I decided to learn the fondamontal of the web develmepent by integrating online course in web desinging with metoeor.

    Fast forward toady, and I've had the privilige to been math student as in IT student as well as internshep as application and web desinger.

  </p>

  <p>Here are a few techonoglie i've been working with recently</p>
  <ul>
    <li>JavaScript (ES6+)</li>
    <li> TypeScript</li>
    <li>Node.js</li>
    <li>React</li>
    <li>Angular</li>
    <li>Ionic</li>
    <li></li>
  </ul>
</section>
