@import '../../../styles/queries/queries.scss';
.about-me {
  width: 100%;
  height: 60vh;

  @include respond(bp-laptop) {
    padding-top: 0;
    height: 100%;
  }


  h2 {
    position: relative;
    display: flex;
    gap: var(--gap-md);
    @include respond(bp-laptop) {
      margin-bottom: var(--margin-6xl);
    }

    &::before {
      content: "";
      height: 1px;
      width: 10rem;
      background-color: var(--background-color-1);
      display: block;
      align-self: center;
    }
  }

  &__content {
    display: flex;
    gap: var(--gap-md);

    @include respond(bp-tablet) {
      flex-direction: column;
      gap: var(--gap-2xl);
    }

    &--text {
      align-self: center;

      p {
        max-width: 40rem;
        @include respond(bp-laptop) {
          max-width: 35rem;
        }
        @include respond(bp-tablet) {
          max-width: 40rem;
        }

        span{
          display: block;
          padding-top: var(--padding-md);
        }
      }

    }
    &--hero {
      margin-left: auto;
      align-self: center;
      overflow: hidden;
      padding: var(--padding-md);
      border-radius: 50%;
      box-shadow: 0 .5rem 0.937rem var(--primary-color);
      position: relative;
      width: 18rem;
      height: 18rem;
      align-self: center;
       @include respond(bp-laptop-large) {
        width:  18rem;
        height: 18rem;
      }
      @include respond(bp-laptop) {
        width:  14rem;
        height: 14rem;
        padding: .5rem;
        box-shadow: unset;
      }
      @include respond(bp-tablet) {
        margin-right: auto;
        width: 28rem;
        height: 28rem;
        padding: var(--padding-md);
        box-shadow: 0 .5rem 0.937rem var(--primary-color);
      }

      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width:  16rem;
        height: 16rem;
        object-fit:cover;
        clip-path: polygon(25% 6%, 75% 6%, 100% 50%, 75% 94%, 25% 94%, 0% 50%);
        border-radius: 50%;
        @include respond(bp-laptop-large) {
          width:  16rem;
          height: 16rem;
        }
        @include respond(bp-laptop) {
          width:  14rem;
          height: 14rem;
        }

        @include respond(bp-tablet) {
          width:  18rem;
          height: 18rem;

        }
     }
    }
  }
}
