<section class="about-me" nightMode>
<h1>  ABOUT ME</h1>

  <p>
    Hello! My name is Salim, and I have a passion for creating web applications. <br>
    My journey into web development began in 2019, following my studies in <br>
    mathematics and IT, which helped me build a strong foundation in <br>
    problem-solving. <br> <br>
    Fast-forward to today, I’ve worked as a developer and designer of databases <br>
    and applications during an internship, gaining practical experience in both <br>
    fields.
    My focus now is on building user-friendly web experiences using <br>technologies
    like Angular, React, and Node.js.<br> <br>

    I'm always eager to continue learning and tackling new challenges in web development.
  </p>
</section>
