.about-me {
  width: 100%;

  h3 {
    position: relative;
    display: flex;
    gap: 1rem;
    &::before {
      content: "";
      border-top: 1px solid #a5552aca;
      width: 20%;
      display: block;
      align-self: center;
    }
  }

  &__content {
    display: flex;
    &--text {
      align-self: center;
    }
    &--hero {
      margin-left: auto;
      align-self: center;
      img {
        width:  25rem;
        height: 25rem;
        border-radius: 50%;
        object-fit:cover;
        z-index: 1000;
     }
    }
  }
}
