@import '../../../styles/queries/queries.scss';

.web-creation-section {
  @include respond(bp-tablet) {

 }
  h2 {
    position: relative;
    display: flex;
    gap: var(--gap-md);
    margin-bottom: var(--margin-6xl);
    &::before {
      content: "";
      height: 1px;
      width: 10rem;
      background-color: var(--background-color-1);
      display: block;
      align-self: center;
    }
  }
    & > *:not(h2) {
      margin-bottom: var(--margin-10xl);
    }
}
