.web-creation-section {
  h2 {
    position: relative;
    display: flex;
    gap: 1rem;
    margin-bottom: 4rem;
    &::before {
      content: "";
      height: 1px;
      width: 10rem;
      background-color:#013138;
      display: block;
      align-self: center;
    }
  }
    & > *:not(h2) {
      margin-bottom: 8rem;
    }
}
