.section {
  height: 30vh;
  //background: linear-gradient(rgb(21, 93, 97), rgb(223, 110, 11));
  text-align: center;
  display: grid;
  padding-top: 10rem;

  svg {
    height: 2rem;
  }

  .links {
    display: flex;

    &__container {
      margin: auto;
      display: flex;
      list-style: none;
      gap: 2rem;
      &--svg {
        height: 4rem;
        width: 4rem;
        background: linear-gradient(rgb(21, 93, 97), rgb(1, 42, 63));

        border-radius: 50%;
        position: relative;
        box-shadow: 2px 4px 4px 2px rgba($color: #3f3e3e, $alpha: 1);
        transition: all 0.2s ease;
        &:hover {
          cursor: pointer;
          transform: scale(1.05);
          background-image: linear-gradient(
            to right,
            rgb(223, 110, 11),
            rgb(3, 92, 112)
          );
        }
        svg {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  .copyright {
    display: flex;
    div {
      margin: auto;
      display: flex;
      gap: 0.5rem;
      svg {
        align-self: center;
        height: 1rem;
      }
      p {
        align-self: center;
        color: #606365;
        font-size: 11px;

        background-image: linear-gradient(
          to right bottom,
          rgb(97, 99, 99),
          rgb(255, 255, 255)
        );
        display: inline-block;
        -webkit-background-clip: text; //to showthe color exactly where the txt is
        background-clip: text;
        color: transparent; //the color of the text is transpaent to make us see the -webki-clip
      }
    }
  }
}
