<!-- <app-header></app-header> -->
<main>
  <div class="logo">
    <div>
      <img
        src="https://res.cloudinary.com/dlaztxrfw/image/upload/v1711988198/khbefy882jw58biorsgj.png"
      />
    </div>
    <div>
      <a href="mailto:doshka23@gmail.com"><p>Contact me</p></a>
    </div>
  </div>
  <section>
    <div>
      <p>Applications Designer, Frontend & Backend Developer</p>
      <br />
      <p>
        Welcome to my portfolio, where the art of development meets the science
        of design
      </p>
    </div>
    <figure>
      <img
        src="http://res.cloudinary.com/dlaztxrfw/image/upload/v1711921967/yi7mki4jaz7gqwrb2pjc.jpg"
        alt="salim"
      />
      <figcaption>Hassan Salim</figcaption>
    </figure>
  </section>

  <app-body></app-body>
  <app-work></app-work>
  <app-footer></app-footer>
</main>
