<!-- <app-header></app-header> -->
<main>
  <div class="logo">
    <div>
      <img
        src="https://res.cloudinary.com/dlaztxrfw/image/upload/v1714209837/ahmctzs16domxvkireir.png"
      />
    </div>
    <div>
      <a href="mailto:doshka23@gmail.com"><p>Contact me</p></a>
    </div>
  </div>
  <section>
    <div>
      <p>Applications Designer, Frontend & Backend Developer</p>
      <br />
      <p>
        I’m a full-stack developer with DevOps skills, creating efficient web, mobile, and backend applications.
      </p>
    </div>
    <figure>
      <img
        src="http://res.cloudinary.com/dlaztxrfw/image/upload/v1711921967/yi7mki4jaz7gqwrb2pjc.jpg"
        alt="salim"
      />
      <figcaption>Hassan Salim</figcaption>
    </figure>
  </section>

  <app-body></app-body>
  <app-mobile-work></app-mobile-work>
  <app-work></app-work>
  <app-footer></app-footer>
</main>
