@import "../../../theme/queries";
main {
  display: grid;

  width: 100%;
  .logo {
    padding: 2rem;
    display: flex;
    div:first-child {
      margin-right: auto;
      img {
        height: 4rem;
      }
    }
    div:last-child {
      align-self: center;
      a {
        text-decoration: none;
      }
      p {
        padding: 0.5rem 2rem;
        border: 3px solid rgb(5, 102, 124);
        color: rgb(5, 102, 124);

        border-radius: 2rem;
        font-size: 1rem;
        transition: all 0.2s ease-in;
        &:hover {
          background: rgb(5, 102, 124);
          background-image: linear-gradient(
            to right,
            rgb(223, 110, 11),
            rgb(3, 92, 112)
          );
          //background: linear-gradient(rgb(21, 93, 97), rgb(223, 110, 11));
          color: #f0efef;
          cursor: pointer;
        }
      }
    }
  }

  & section {
    height: 90vh;

    @include respond(bp-tablet) {
      height: 80vh;
    }
    @include respond(bp-mobile-large) {
      height: 70vh;
    }
    @include respond(bp-mobile-medium) {
      height: 60vh;
    }
    @include respond(bp-mobile-small) {
      height: 50vh;
    }
    div p:first-child {
      font-size: 2.5rem;
      font-weight: 700;
      background-image: linear-gradient(
        to right bottom,
        rgb(3, 92, 112),
        rgb(223, 110, 11)
      );
      display: inline-block;
      -webkit-background-clip: text; //to showthe color exactly where the txt is
      background-clip: text;
      color: transparent; //the color of the text is transpaent to make us see the -webki-clip
      margin: 0 2rem;
    }
    div p:last-child {
      font-size: 1.5rem;
      margin: 1 2rem;
    }

    text-align: center;
    figure {
      padding-top: 5rem;
      position: relative;
      img {
        height: 15rem;
        width: 15rem;
        border-radius: 50%;
        object-fit: cover;
        transition: all 0.2s ease-in;
      }
      figcaption {
        position: absolute;
        top: 63%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
        font-size: 1.6rem;
        text-align: center;
        opacity: 0;
        transition: all 0.5s;
        color: white;
        // z-index: 10;
      }
      &:hover {
        img {
          filter: blur(3px) brightness(80%);
        }
        figcaption {
          color: white;
          opacity: 1;
        }
      }
    }
  }
}
